# Tuple
A tuple in Python is an ordered, immutable collection of items. It allows storing multiple items in a single variable. Tuples are defined by enclosing elements in parentheses (), separated by commas.

In [ ]:
my_tuple = (1, 2, 3, 'a', 'b', 'c')

# Properties of Tuple
* **Ordered	Elements** have a defined order and can be accessed by index.
* **Immutable**	Once created, the tuple cannot be modified (no addition, removal, or change of elements).
* **Allows Duplicates**	Tuples can contain duplicate values.
* **Heterogeneous**	Can store elements of different data types.
* **Indexable and Sliceable**	Supports indexing and slicing similar to lists.

In [ ]:
# Tuple creation
fruits = ("apple", "banana", "cherry", "apple", "date")
numbers = (1, 2, 3, 4, 5)
mix = (100, 2.54, "Ali", (2,3), [11,12,13] )

# Accessing elements
print("First fruit:", fruits[0] )
print("Last number:", numbers[-1])

# Slicing
print("Last three fruits:", fruits[2:])
print("Middle numbers:", numbers[1:4])

# Counting occurrences
apple_count = fruits.count("apple")
print("Number of times 'apple' appears:", apple_count)

# Finding index
banana_index = fruits.index("apple")
print("Index of 'banana':", banana_index)

# Combining tuples
combined = fruits + numbers + (100,200)
print("Combined tuple:", combined)

# Nested tuples
nested_tuple = ( (1, 2), (3, 4), (5, 6,7) )
print("Nested tuple element:", nested_tuple[2][0])  # Accessing second tuple's first element

# Checking membership
is_cherry_present = "cherry" in fruits
print("Is 'cherry' present in fruits?", is_cherry_present)

# Looping through a tuple
print("All fruits:")
for fruit in fruits:
    print(fruit)

# Tuple Functions
min_num = min(numbers)
max_num = max(numbers)
sum_of_numbers = sum(numbers)
length = len(numbers)
print("Sum of numbers:", sum_of_numbers)
print("Minimum number:", min_num)
print("Maximum number:", max_num)
print("Length of tuple:", length)

# Zipping tuples

names = ("Alice", "Bob", "Charlie")
age = (25, 30)

zipped = tuple(zip(names, age))

print(type(zipped))
print("Zipped tuples:", zipped)

First fruit: apple
Last number: 5
Last three fruits: ('cherry', 'apple', 'date')
Middle numbers: (2, 3, 4)
Number of times 'apple' appears: 2
Index of 'banana': 0
Combined tuple: ('apple', 'banana', 'cherry', 'apple', 'date', 1, 2, 3, 4, 5, 100, 200)
Nested tuple element: 5
Is 'cherry' present in fruits? True
All fruits:
apple
banana
cherry
apple
date
Sum of numbers: 15
Minimum number: 1
Maximum number: 5
Length of tuple: 5
<class 'tuple'>
Zipped tuples: (('Alice', 25), ('Bob', 30))

In [ ]:
# prompt: code to change tuple to list and edit and list to tuple

fruits = ("apple", "banana", "cherry", "apple", "date")
print(fruits)

# Convert tuple to list
fruits_list = list(fruits)
print(fruits_list)

# Edit the list
fruits_list[0] = "orange"

# Convert list back to tuple
fruits = tuple(fruits_list)

print(fruits)

('apple', 'banana', 'cherry', 'apple', 'date')
['apple', 'banana', 'cherry', 'apple', 'date']
('orange', 'banana', 'cherry', 'apple', 'date')

In [ ]:
# prompt: code to use tuple as parameter in user defined function

def process_tuple(input_tuple):

  print("Tuple elements:", input_tuple)
  print("Length of tuple:", len(input_tuple))
  print("First element:", input_tuple[0])

# Example usage:
my_tuple = (1, 2, 3, "hello", 3.14)
process_tuple(my_tuple)

another_tuple = (10, 20, 30)
process_tuple(another_tuple)

Tuple elements: (1, 2, 3, 'hello', 3.14)
Length of tuple: 5
First element: 1
Tuple elements: (10, 20, 30)
Length of tuple: 3
First element: 10

In [ ]:
import time

list_test = [i for i in range(10000001)]
tuple_test = tuple(range(10000001))

start = time.time()
10000000 in list_test
print("List Time:", time.time() - start)

start = time.time()
10000000 in tuple_test
print("Tuple Time:", time.time() - start)

List Time: 0.11854720115661621
Tuple Time: 0.11570596694946289

In [ ]:
# Tuple unpacking is to assign the elements of a tuple to individual variables in a single step.
person = ("Ali", "Doctor", "Bahawalpur")
name, profession, city = person

print(name)
print(profession)
print(city)

Ali
Doctor
Bahawalpur

In [ ]:
def get_student():
    return ("Ali", 20, "BSCS")

name, age, degree = get_student()
print(name)   # Output: Ali
print(age)    # Output: 20
print(degree) # Output: BSCS

Ali
20
BSCS

In [ ]:
# Unpacking with * Operator (Extended Unpacking)
data = (1, 2, 5, 7)
a, *b, rest = data

print(a)     # Output: 1
print(b)     # Output: 2
print(rest)  # Output

1
[2, 5]
7

In [ ]:
employee = ("Sarah", (30, "Manager") )
name, (age, position) = employee

print(name)     # Output: Sarah
print(age)      # Output: 30
print(position) # Output: Manager

Sarah
30
Manager

In [ ]:
# Zipping tuples

names = ("Alice", "Bob", "Charlie")
age = (25, 30, 55)

zipped = tuple(zip(names, age))

print(type(zipped))
print("Zipped tuples:", zipped)

<class 'tuple'>
Zipped tuples: (('Alice', 25), ('Bob', 30), ('Charlie', 55))